/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; /* Change background color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333; /* Change heading color */
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fafafa; /* Change task item background color */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.task-item:hover {
    background-color: #f0f0f0; /* Change task item background color on hover */
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc; /* Change input border color */
    border-radius: 5px;
}

.add-btn {
    display: block; /* Change button display to block */
    margin: 20px auto; /* Center the button horizontally */
    padding: 15px 40px; /* Increase button padding to make it longer */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336; /* Change delete button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333; /* Change delete button background color on hover */
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: #333;
    position: relative;
    display: inline-block;
}

.title::before,
.title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: #333;
}

.title::before {
    right: 100%;
    margin-right: 15px;
}

.title::after {
    left: 100%;
    margin-left: 15px;
}
